
#common tools files
target
public

# Logs
logs
*.log

# Dependency directory
node_modules

# Generated code
dist
build
build-ts
generated

# VSCode folders
.vscode
*.hprof
*.xlsx#
.npmrc

# IntelliJ IDEA
*.iml
.idea
